.light-theme {
  --bg: rgba(52, 52, 52, 0.8);
  --modal-bg: rgba(230, 230, 230);
  --bg-light-blue: rgba(100, 100, 255, 0.05);
  --white: rgba(255, 255, 255, 0.9);
  --black: rgba(0, 0, 0, 0.9);
  --red: rgb(255, 100, 100);
  --redSoft: rgb(250, 205, 209);
  --green: rgb(55, 195, 64);
  --greenSoft: rgb(199, 237, 205);
  --overlay: rgba(0, 0, 0, 0.4);
  --border: rgba(127, 127, 127, 0.15);
}

.dark-theme {
  --bg: rgba(52, 52, 52, 0.8);
  --modal-bg: rgba(52, 52, 52);
  --bg-light-blue: rgba(10, 10, 25, .5);
  --white: rgba(0, 0, 0, 0.9);
  --black: rgba(255, 255, 255, 0.9);
  --red: rgb(255, 100, 100);
  --redSoft: rgb(250, 205, 209);
  --green: rgb(55, 195, 64);
  --greenSoft: rgb(199, 237, 205);
  --overlay: rgba(0, 0, 0, 0.4);
  --border: rgba(127, 127, 127, 0.15);
}

html, body {
  --border-radius: 5px;
  --top-height: 50px;
  --foot-height: 50px;
  --margin: 20px;
  --padding: 10px;
  background: var(--white);
  height: 100%;
  position: relative;
  width: 100%;
  transition: all .3s;
}

h1, h2, h3, h4, h5, h6, p, em, i, b, strong {
  color: var(--black);
}

a {
  color: var(--red);
}

nav {
  background: var(--bg);
  display: flex;
  height: var(--top-height);
  justify-content: space-between;
  width: 100%;
}

nav h3 {
  border-bottom: inherit !important;
  color: var(--white);
  height: var(--top-height) !important;
  line-height: var(--top-height) !important;
  margin: 0 !important;
  padding: 0 calc(var(--top-height) / 2) !important;
  text-align: left;
}

nav img {
  cursor: pointer;
}

nav ul {
  display: inline-flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  font-weight: bold;
  line-height: var(--top-height);
  padding: 0 calc(var(--top-height) / 2) 0 0;
}

nav a, nav h3 {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

nav a:active,
nav a:focus,
nav a:hover {
  color: var(--red);
}

main {
  align-items: center;
  display: flex;
  height: calc(100% - var(--top-height) - var(--foot-height));
  justify-content: center;
  position: relative;
  width: 100%;
}

footer {
  align-items: center;
  border-top: solid 1px var(--border);
  display: flex;
  font-size: .8rem;
  height: var(--foot-height);
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}

footer p {
  margin: 0;
}

code {
  color: var(--red);
  margin-bottom: 0;
}

h4 {
  margin: 0 !important;
  max-width: 50%;
  padding-bottom: var(--margin);
  text-align: center;
}

button.active {
  background-color: var(--greenSoft);
}

.notification {
  align-items: center;
  background-color: white;
  border-radius: 3px;
  border: solid 1px transparent;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  display: flex;
  font-size: 0.9em;
  left: var(--margin);
  padding: var(--padding);
  position: absolute;
  opacity: 0;
  top: var(--margin);
  z-index: 9999;

  transition: opacity .4s;
}

.notification.success {
  background-color: var(--greenSoft);
}

.notification.failure {
  background-color: var(--redSoft);
}

.home-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.dnd-container {
  background-color: var(--bg-light-blue);
  border: solid 3px var(--border);
  border-radius: var(--border-radius);
  height: inherit;
  margin-bottom: calc(var(--margin) * 2);
  width: 70%;
}

.dnd-container::before {
  content: 'Drag a JSON report file in here...';
  display: block;
  font-style: italic;
  height: auto;
  text-align: center;
  transform: translateY(50%);
  width: 100%;
}

.report-container {
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.report-container h1 {
  margin-bottom: 0;
}

.report-container	.row {
  height: 100%;
  max-width: inherit;
  padding: calc(var(--margin) * 2);
  width: 90%;
}

.row.error-scan h1 {
  margin-top: 0;
  margin-bottom: var(--margin);
}

.report-container	.col-three {
  background-color: var(--bg-light-blue);
  border: solid 3px var(--border);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--margin);
}

.report-container	.col-three h3 {
  margin-top: 0;
  padding-bottom: 0;
}

.report-container	.col-seven {
  background-color: var(--bg-light-blue);
  border: solid 3px var(--border);
  border-radius: var(--border-radius);
  height: 100%;
  margin: 0 0 0 var(--margin);
  overflow-y: auto;
  padding: var(--margin);
  position: relative;
  width: calc(70% - var(--margin));
}

.report-container	.col-seven p {
  margin-bottom: 0;
}

.report-container .col-seven svg {
  height: 100%;
  width: 100%;
}

.legend rect {
  fill: white;
  opacity: 0.8;
  stroke: var(--bg);
}

.grid .tick {
  stroke: lightgrey;
  opacity: .1;
}

.grid path {
  stroke-width: 0;
}

.report-container .col-seven .graph-controls {
  align-items: center;
  border-top: solid 3px var(--border);
  bottom: 0;
  display: flex;
  height: 50px;
  padding: 0 var(--padding);
  position: absolute;
  width: 100%;
}

.report-container .col-seven .graph-controls button {
  margin: 0 calc(var(--margin) / 3);
}

.report-container .col-seven .graph-controls div {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: auto;
  min-width: 10rem;
}

.report-container .col-seven .graph-controls div p {
  margin-right: .5rem;
}

.purity-progress {
  border-radius: var(--border-radius);
  height: 7px;
  margin: 0 auto;
  min-width: 100px;
  width: 90%;
}

.pure {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  background-color: var(--green);
  float: left;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 100%;
}

.impure {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  background-color: var(--red);
  float: left;
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 100%;
}

.overlay {
  background-color: var(--overlay);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

/* Stat view */

.nav-item {
  margin-bottom: 2rem;
}

.nav-item em, .nav-item b, .nav-item p {
  cursor: pointer;
  margin-bottom: 0;
  transition: all .2s;
}

.nav-item.active em, .nav-item.active b, .nav-item.active p,
.nav-item:active em, .nav-item:active b, .nav-item:active p,
.nav-item:focus em, .nav-item:focus b, .nav-item:focus p,
.nav-item:hover em, .nav-item:hover b, .nav-item:hover p {
  color: var(--green);
}

.artists-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
}

.artists-wrapper .artist {
  align-items: center;
  background-color: none;
  border: solid 1px var(--border);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: .5rem;
  margin: .5rem;
  width: 20rem;
  transition: all .2s;
}

.artists-wrapper .artist:active,
.artists-wrapper .artist:focus,
.artists-wrapper .artist:hover {
  background-color: var(--white);
}

.artists-wrapper .artist p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  width: 18rem;
}

/* Modal */

.modal {
  background-color: var(--modal-bg);
  border-radius: 5px;
  position: absolute;
  left: calc(50% - 25rem);
  height: 80%;
  text-align: center;
  top: 10%;
  width: 50rem;
  z-index: 9999;
}

.modal .artists-wrapper {
  align-items: flex-start;
  border-bottom: 1px solid #eaecef;
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 5rem - 48px - 19.6px); /* See header/button margins etc */
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
}

.modal h1 {
  height: 3rem;
  margin-bottom: 0;
}

.modal button {
  margin-top: 19.6px;
}

/* Switch checkbox style */

.theme-switch-container {
  align-items: center;
  display: flex;
  position: absolute;
  right: 0;
}

.switch-wrapper {
  align-items: center;
	display: flex;
  flex: 1;
	height: 100%;
  justify-content: center;
  max-width: 4rem;
  width: 4rem;
}

input[type="checkbox"].switch {
  appearance: none;
	height: calc(1rem + 2px);
	background-color: rgb(255, 107, 103);
  border: solid 1px rgb(127, 127, 127);
	border-radius: 3rem;
  margin: 0;
	position: relative;
	outline: none;
  width: 3rem;
	transition: all .3s ease-in-out;
}

input[type="checkbox"].switch::after {
  content: '';
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .9);
  height: 1rem;
  left: 0;
  position: absolute;
  transform: scale(.7);
  width: 1rem;
  transition: all .3s ease-in-out;
}

input[type="checkbox"].switch:checked {
  background-color: rgb(86, 212, 91);
}

input[type="checkbox"].switch:checked::after {
  left: calc(100% - 1rem);
}

@keyframes rotatePlane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.overlay::before {
  content: '';
  background-color: var(--green);
  height: calc(var(--margin) * 2);
  left: calc(50% - calc(var(--margin) / 2));
  position: absolute;
  top: 50%;
  width: calc(var(--margin) * 2);
  border-radius: var(--border-radius);
  animation: rotatePlane 1.2s infinite ease-in-out;
}

.overlay::after {
  content: 'Loading JSON data...';
  color: var(--white);
  font-style: italic;
  left: 0;
  text-align: center;
  position: absolute;
  top: 55%;
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  * {
    font-size: .75rem;
  }

  main {
    overflow: auto;
  }

  .dnd-container {
    width: 90%;
  }

  .report-container .row {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    height: auto;
    padding: var(--margin) 0;
  }

  .row.error-scan {
    flex-direction: column;
  }

  .row.error-scan .col-three {
    margin: 0;
  }

  .row.error-scan .col-seven {
    margin: var(--margin) 0 0 0;
  }

  .report-container .col-three {
    align-self: inherit;
    height: auto;
    margin: var(--margin) 0 0 0;
    width: 90%;
  }

  .report-container .col-seven {
    height: 725px;
    margin: 0;
    width: 90%;
  }
}
